<div class="container-fluid">

    <div class="row">
        There are <strong>{{formatNumber stats.countOfMatches}}</strong> total matches over approximately
        <strong>{{formatNumber stats.approximateCountOfTweets}}</strong> tweets. That's about
        <strong>{{formatNumber stats.tweetsPerMatch maximumFractionDigits="0"}}</strong> tweets per match!
    </div>
    <div class="row">
        There are <strong>{{formatNumber stats.countOfMatchesAboveCutoff}}</strong> matches with an interesting factor
        above
        <strong>{{stats.interestingFactorCutoff}}</strong>.
    </div>
    <div class="row">
        There are <strong>{{formatNumber stats.countOfNotRejectedAndNotApprovedMatchesAboveCutoff}}</strong> matches with an interesting factor
        above
        <strong>{{stats.interestingFactorCutoff}}</strong> that are not rejected and not retweeted.
    </div>
    <div class="row">
        <strong>{{formatNumber stats.countOfRetweetedMatches}}</strong> matches have been retweeted.
        There should be <strong>{{stats.countOfRetweetedTweets}}</strong> retweeted tweets.
    </div>
    <div class="row">
        <strong>{{formatNumber stats.countOfRejectedMatches}}</strong> matches have been rejected.
    </div>
    <div class="row">
        The most recent match was created <strong>{{formatRelative stats.dateLastMatchCreated}}</strong> at
        <strong>{{formatTime stats.dateLastMatchCreated hour="numeric" minute="numeric"}}</strong> on
        <strong>{{formatTime stats.dateLastMatchCreated day="numeric" month="long" year="numeric" }}</strong>.
    </div>

    <h3>Retweets and Tumblr posts made by day for the past <strong>{{stats.numberOfDaysToGetMatchesPerDay}}</strong> days:</h3>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-hover table-condensed">

                <thead>
                <tr>
                    <th>Day</th>
                    <th>Retweets</th>
                    <th>Tumblr posts</th>
                </tr>
                </thead>
                <tbody>
                {{#each stats.retweetsAndTumblrByDay}}
                    <tr>
                        <td>{{formatTime day day="numeric" month="long" year="numeric"}}</td>
                        <td>{{retweeted}}</td>
                        <td>{{posted_to_tumblr}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Stats by date match created for the past <strong>{{stats.numberOfDaysToGetMatchesPerDay}}</strong> days:</h3>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover table-condensed">

                <thead>
                <tr>
                    <th>Day</th>
                    <th>Matches created</th>
                    <th>Attempted Approval</th>
                    <th>Auto-rejected</th>
                    <th>Retweeted</th>
                    <th>Unretweeted</th>
                    <th>Rejected</th>
                    <th>Tumblr</th>
                </tr>
                </thead>
                <tbody>
                {{#each stats.statsByDateMatchCreated}}
                    <tr>
                        <td>{{formatTime day day="numeric" month="long" year="numeric"}}</td>
                        <td>{{matches_created}}</td>
                        <td>{{attempted_approval}}</td>
                        <td>{{auto_rejected}}</td>
                        <td>{{retweeted}}</td>
                        <td>{{unretweeted}}</td>
                        <td>{{rejected}}</td>
                        <td>{{posted_to_tumblr}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Stats by interesting factor bucket:</h3>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover table-condensed">

                <thead>
                <tr>
                    <th>Interesting Factor</th>
                    <th>Total matches</th>
                    <th>Attempted Approval</th>
                    <th>Auto-rejected</th>
                    <th>Retweeted</th>
                    <th>Unretweeted</th>
                    <th>Rejected</th>
                    <th>Tumblr</th>
                </tr>
                </thead>
                <tbody>
                {{#each stats.statsByInterestingFactorBucket}}
                    <tr>
                        <td>{{score}}</td>
                        <td>{{matches_created}}</td>
                        <td>{{attempted_approval}}</td>
                        <td>{{auto_rejected}}</td>
                        <td>{{retweeted}}</td>
                        <td>{{unretweeted}}</td>
                        <td>{{rejected}}</td>
                        <td>{{posted_to_tumblr}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>