<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>score</th>
        <th>tweets</th>
        <th>posted</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each matches}}
        <tr>
            <td class="col-md-1">
                <a href="#/" data-match data-match-id="{{id}}">
                    {{formatNumber interesting minimumFractionDigits="2" maximumFractionDigits="2"}}
                </a>
                <br>
                <a href="/anagrams/info/{{id}}">{{id}}</a>
                <br>
                <strong style="font-size: 150%">{{inOrderArrows posted_in_order}}</strong>
            </td>
            <td class="col-md-5">
                {{t1_originaltext}}
                <a href="http://twitter.com/{{t1_username}}/status/{{t1_statusid}}">[link]</a>
                <a href="/tweets/info/{{t1_id}}">[info]</a>
                <br>
                <br>
                {{t2_originaltext}}
                <a href="http://twitter.com/{{t2_username}}/status/{{t2_statusid}}">[link]</a>
                <a href="/tweets/info/{{t2_id}}">[info]</a>
            </td>
            <td class="col-md-3">
                <div class="row">
                    <label class="col-sm-4 control-label">Retweeted:</label>
                    {{#if date_retweeted}}
                        <span>{{nullDateFormat date_retweeted day="numeric" month="numeric" year="numeric"
                                               hour="numeric" minute="numeric" second="numeric"}}</span>
                    {{else}}
                        {{#if unretweeted_manually}}
                            <strong class="text-danger">Unretweeted manually</strong>
                        {{/if}}
                        {{#if unretweeted_from_cleanup}}
                            <strong class="text-warning">Unretweeted from cleanup</strong>
                        {{/if}}
                    {{/if}}
                </div>
                <br>
                <div class="row">
                    <label class="col-sm-4 control-label">Tumblr'd:</label>
                    <span>{{nullDateFormat date_posted_tumblr day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</span>
                </div>
            </td>
            <td class="col-md-3">
                <div class="row">
                    <div class="col-sm-4">
                        {{#if date_retweeted}}
                            <form action='unretweetmanually/{{id}}?unretweet=true' method="post">
                                <button type="submit" class="btn btn-sm btn-primary">Unretweet</button>
                            </form>
                        {{/if}}
                    </div>
                    <div class="col-sm-4">
                        {{#if date_posted_tumblr}}
                            <form action='unretweetmanually/{{id}}?deletetumblrpost=true' method="post">
                                <button type="submit" class="btn btn-sm btn-warning">Untumblr</button>
                            </form>
                        {{/if}}
                    </div>
                    <div class="col-sm-4">
                        {{#if date_posted_tumblr}}
                            {{#if date_retweeted}}
                                <form action='unretweetmanually/{{id}}?unretweet=true&deletetumblrpost=true' method="post">
                                    <button type="submit" class="btn btn-sm btn-info">Unretweet & Untumblr</button>
                                </form>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script>
    $(() => {
        $("[data-match]").click(e => {
            const id = $(e.target).data("match-id");
            anagrams.showScorePopUp(id);
        });
    });
</script>
