<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>score</th>
        <th>T1</th>
        <th>T2</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each matches}}
        <tr>
            <td class="col-md-1"><a href="#" data-match data-match-id="{{id}}">{{formatNumber interesting minimumFractionDigits="2" maximumFractionDigits="2"}}</a></td>
            <td class="col-md-3">{{t1_originaltext}} <a href="http://twitter.com/{{t1_username}}/status/{{t1_statusid}}">link</a></td>
            <td class="col-md-3">{{t2_originaltext}} <a href="http://twitter.com/{{t2_username}}/status/{{t2_statusid}}">link</a></td>
            <td class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <form action='unretweetmanually/{{id}}' method="post">
                            <button type="submit" class="btn btn-primary">Unretweet</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form action='unretweetmanually/{{id}}?deletetumblrpost=true' method="post">
                            <button type="submit" class="btn btn-primary">Unretweet & delete tumblr</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script>
    $(() => {
        $("[data-match]").click(e => {
            const id = $(e.target).data("match-id");
            anagrams.showScorePopUp(id);
        });
    });
</script>
