<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app-stylesheets.css'/>
    <script src="/javascripts/app-front-end.js"></script>
</head>
<body>
<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Anagram Reviewer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#if user}}
                        <li><a href="/anagrams">Anagrams</a></li>
                        <li><a href="/account/profile">Profile</a></li>
                    {{/if}}
                    <li><a href="http://www.twitter.com/anagrammatweest">Twitter</a></li>
                    <li><a href="http://anagrammatweest.tumblr.com/">Tumblr</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                        <li><a href="/account/logout">Signed in as {{user.username}}. Sign out</a></li>
                    {{ else }}
                        <li><a href="/account/login">Sign in</a></li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    {{#if errorMessage}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{errorMessage}}
        </div>
    {{/if}}
    {{#if infoMessage}}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{infoMessage}}
        </div>
    {{/if}}
    {{#if successMessage}}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{successMessage}}
        </div>
    {{/if}}

    {{{body}}}

</div> <!-- /container -->

<div class="modal fade" id="anagram-match-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="anagram-match-template-content" role="document"></div>
</div>

<script id="anagram-match-template" type="text/x-handlebars-template">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
            <h4 class="modal-title">Match \{{id}} (created \{{formatDate date_created "numericdatetime"}})</h4>
        </div>
        <div class="modal-body container-fluid">
            <h4>Tweets</h4>
            <div class="well well-sm">
                <div class="row" data-toggle="collapse" data-target="#tweet1-collapse">
                    <label class="col-sm-4 control-label"><a href="#">Tweet 1:</a></label>
                    <span>\{{t1_original_text}}</span>
                </div>
                <div id="tweet1-collapse" class="collapse">
                    <div class="row">
                        <label class="col-sm-4 control-label">Created By:</label>
                        <span><a href="http://www.twitter.com/\{{t1_user_name}}">\{{t1_user_name}}</a></span>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Created Date:</label>
                        <span><a href="http://twitter.com/\{{t1_user_name}}/status/\{{t1_status_id}}">\{{formatDate t1_created_at "numericdatetime"}}</a></span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other matches with tweet 1</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-sm-5 control-label">Total Count:</label>
                                <span>\{{t1_other_match_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count attempted approval:</label>
                                <span>\{{t1_other_match_attempted_approval_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count retweeted:</label>
                                <span>\{{t1_other_match_retweeted_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count tumblr'd:</label>
                                <span>\{{t1_other_match_tumblr_count_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5"><a href="/tweets/info/\{{t2_id}}">More Info</a></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-toggle="collapse" data-target="#tweet2-collapse">
                    <label class="col-sm-4 control-label"><a href="#">Tweet 2:</a></label>
                    <span>\{{t2_original_text}}</span>
                </div>
                <div id="tweet2-collapse" class="collapse">
                    <div class="row">
                        <label class="col-sm-4 control-label">Created By:</label>
                        <span><a href="http://www.twitter.com/\{{t2_user_name}}">\{{t2_user_name}}</a></span>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Created Date:</label>
                        <span><a href="http://twitter.com/\{{t2_user_name}}/status/\{{t2_status_id}}">\{{formatDate t2_created_at "numericdatetime"}}</a></span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other matches with tweet 2</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-sm-5 control-label">Total Count:</label>
                                <span>\{{t2_other_match_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count attempted approval:</label>
                                <span>\{{t2_other_match_attempted_approval_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count retweeted:</label>
                                <span>\{{t2_other_match_retweeted_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5 control-label">Count tumblr'd:</label>
                                <span>\{{t2_other_match_tumblr_count_count}}</span>
                            </div>
                            <div class="row">
                                <label class="col-sm-5"><a href="/tweets/info/\{{t2_id}}">More Info</a></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-4 control-label">Stripped sorted text:</label>
                    <span>\{{stripped_sorted_text}}</span>
                </div>
            </div>
            <h4>Scores</h4>
            <div class="well well-sm">
                <div class="row">
                    <label class="col-sm-8 control-label">1 - (Longest common substring / total length):</label>
                    <span>\{{formatNumber inverse_lcs_length_to_total_length_ratio minimumFractionDigits="2" maximumFractionDigits="2"}}
                    (1 - (\{{longest_common_substring_length_stripped_text}}/\{{stripped_sorted_text_length}}))</span>
                </div>
                <div class="row">
                    <label class="col-sm-8 control-label">Different word count / total word count:</label>
                    <span>\{{formatNumber different_word_count_to_total_word_count_ratio minimumFractionDigits="2" maximumFractionDigits="2"}}
                    (\{{word_count_difference}}/\{{total_words}})</span>
                </div>
                <div class="row">
                    <label class="col-sm-8 control-label">English words / total word count:</label>
                    <span>\{{formatNumber english_words_to_total_word_count_ratio minimumFractionDigits="2" maximumFractionDigits="2"}}
                    (\{{english_word_count}}/\{{total_words}})</span>
                </div>
                <div class="row">
                    <label class="col-sm-8 control-label">Edit distance / total length:</label>
                    <span>\{{formatNumber edit_distance_to_length_ratio minimumFractionDigits="2" maximumFractionDigits="2"}}
                    (\{{edit_distance_stripped_text}}/\{{stripped_sorted_text_length}})</span>
                </div>
            </div>
            <h4>Combined score</h4>
            <div class="well well-sm">
                <div class="row">
                    <label class="col-sm-8 control-label">Interesting factor:</label>
                    <span>\{{formatNumber interesting_factor minimumFractionDigits="2" maximumFractionDigits="2"}}</span>
                </div>
                <div class="row">
                    <label class="col-sm-8 control-label">Interesting factor without English words:</label>
                    <span>\{{formatNumber interesting_factor_without_english_words minimumFractionDigits="2" maximumFractionDigits="2"}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>
<script>

    $(() => {

        const customFormats = {
            "locales": "en-US",
            "formats": {
                "date": {
                    "numericdatetime": {
                        "day": "numeric",
                        "month": "numeric",
                        "year": "numeric",
                        "hour": "numeric",
                        "minute": "numeric",
                        "second": "numeric",
                    }
                }
            }
        };

        HandlebarsIntl.registerWith(Handlebars);
        const anagramMatchTemplate = Handlebars.compile($("#anagram-match-template").html());

        function getFullMatch(id) {
            return new Promise((resolve, reject) => {
                $.getJSON(`fullmatch/${id}`).done(data => {
                    if (data.match) {
                        return resolve(data.match);
                    } else if (data.error) {
                        return reject(data.error);
                    } else {
                        return reject("unknown error when retrieving tweets");
                    }
                }).fail((jqxhr, textStatus, error) => {
                    return reject(error);
                });
            });
        }

        function showScorePopUp(matchId) {
            getFullMatch(matchId).then(fullMatch => {
                fullMatch.stripped_sorted_text_length = fullMatch.stripped_sorted_text.length;
                fullMatch.english_word_count = Math.trunc(fullMatch.english_words_to_total_word_count_ratio * fullMatch.total_words);
                fullMatch.interesting_factor_without_english_words =
                        (fullMatch.edit_distance_to_length_ratio +
                        fullMatch.different_word_count_to_total_word_count_ratio +
                        fullMatch.inverse_lcs_length_to_total_length_ratio) / 3;
                const html = anagramMatchTemplate(fullMatch, {
                    data: {intl: customFormats}
                });
                $("#anagram-match-template-content").html(html);
                $("#anagram-match-modal").modal();
            }).catch(error => {
                $.growl.error({message: error});
                console.log(error);
            });
        }

        window.anagrams = {};
        window.anagrams.showScorePopUp = showScorePopUp;
    });

</script>

</body>
</html>

