<div class="container-fluid">

    <h2>Tweet {{tweet.id}}</h2>

    <div class="row panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-md-5 control-label">Original Text:</label>
                    <span>{{tweet.original_text}}</span>
                </div>
                <div class="row">
                    <label class="col-md-5 control-label">Stripped Sorted Text:</label>
                    <span>{{tweet.stripped_sorted_text}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-md-5 control-label">Created At:</label>
                    <span>{{formatDate tweet.created_at day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</span>
                </div>
                <div class="row">
                    <label class="col-md-5 control-label">Existence last checked:</label>
                    <span>{{formatDate tweet.date_existence_last_checked day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-md-3 control-label">Status ID:</label>
                    <span><a href="http://www.twitter.com/{{tweet.user_name}}/status/{{tweet.status_id}}">{{tweet.status_id}}</a></span>

                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Username:</label>
                    <span><a href="http://www.twitter.com/{{tweet.user_name}}">{{tweet.user_name}}</a></span>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">User ID:</label>
                    <span>{{tweet.user_id}}</span>
                </div>
            </div>
        </div>
    </div>
    <h3>Matches with this tweet</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tweet 1</th>
            <th>Tweet 2</th>
            <th>IF</th>
            <th>retweeted</th>
            <th>tumblr'd</th>
            <th>rejected date</th>
            <th>rejected</th>
            <th>attempted approval</th>
            <th>unretweeted</th>
        </tr>
        </thead>
        <tbody>
        {{#each matches}}
            <tr>
                <td>
                    <a href="/anagrams/info/{{id}}">{{id}}</a>
                    <br>
                    <strong style="font-size: 150%">{{inOrderArrows posted_in_order}}</strong>
                </td>
                <td data-tweet-id="{{t1_id}}"><a href="/tweets/info/{{t1_id}}">{{t1_original_text}}</a></td>
                <td data-tweet-id="{{t2_id}}"><a href="/tweets/info/{{t2_id}}">{{t2_original_text}}</a></td>
                <td><a href="#/" data-match data-match-id="{{id}}">{{formatNumber interesting_factor minimumFractionDigits="2" maximumFractionDigits="2"}}</a></td>
                <td>{{nullDateFormat date_retweeted day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</td>
                <td>{{nullDateFormat date_posted_tumblr day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</td>
                <td>{{nullDateFormat date_rejected day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</td>
                <td data-rejected="{{rejected}}">{{boolAsYesNo rejected}}</td>
                <td data-attempted-approval="{{attempted_approval}}">{{boolAsYesNo attempted_approval}}</td>
                <td>{{nullDateFormat date_unretweeted day="numeric" month="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric"}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(() => {
        $("[data-match]").click(e => {
            const id = $(e.target).data("match-id");
            anagrams.showScorePopUp(id);
        });

        $("[data-tweet-id]").each((idx, e) => {
            const $tableCell = $(e);
            const id = $tableCell.data("tweet-id");
            if (id == '{{tweet.id}}') {
                $tableCell.addClass('success');
            }
        });

        $("[data-rejected]").each((idx, e) => {
            const $tableCell = $(e);
            const rejected = $tableCell.data("rejected");
            if (rejected) {
                $tableCell.addClass('danger');
            }
        });
        $("[data-attempted-approval]").each((idx, e) => {
            const $tableCell = $(e);
            const attemptedApproval = $tableCell.data("attempted-approval");
            if (attemptedApproval) {
                $tableCell.addClass('success');
            }
        });
    });
</script>
